{:window [["main-window" {:y 50, :icon-path nil, :visible? true, :color {:background (java.awt.Color. 250 250 250), :background-widgets (java.awt.Color. 250 250 250)}, :on-close #window exit, :width 800, :title "Main Window", :x 50, :selected? nil, :resizable? true, :height 650}]
["sub-window" {:y 300, :icon-path nil, :visible? true, :color {:background (java.awt.Color. 250 250 250), :background-widgets (java.awt.Color. 250 250 250)}, :on-close #window hide, :width 900, :title "Sub Window", :x 700, :selected? nil, :resizable? true, :height 500}]]
, :strigui.checkbox/Checkbox [["cb-none" nil {:y 0, :align-text :left, :color {:background (java.awt.Color. 250 250 250), :text (java.awt.Color. 10 10 10), :focus (java.awt.Color. 117 190 188), :select (java.awt.Color. 117 190 188), :border (java.awt.Color. 27 100 98), :resize (java.awt.Color. 147 220 118)}, :highlight [], :width 150, :highlight-alpha-opacity 30, :can-hide? true, :window "main-window", :z 0, :highlight-border-size 1.5, :border-size 1, :x 10, :selected? nil, :height 42, :text "Without a tick"}]
["cb-tick" true {:y 50, :align-text :left, :color {:background (java.awt.Color. 250 250 250), :text (java.awt.Color. 10 10 10), :focus (java.awt.Color. 117 190 188), :select (java.awt.Color. 117 190 188), :border (java.awt.Color. 27 100 98), :resize (java.awt.Color. 147 220 118)}, :highlight [], :width 150, :highlight-alpha-opacity 30, :can-hide? true, :window "main-window", :z 0, :highlight-border-size 1.5, :border-size 1, :x 10, :selected? nil, :height 42, :text "With a tick"}]
["cb-radio" nil {:y 100, :align-text :left, :group ["001"], :color {:background (java.awt.Color. 250 250 250), :text (java.awt.Color. 10 10 10), :focus (java.awt.Color. 117 190 188), :select (java.awt.Color. 117 190 188), :border (java.awt.Color. 27 100 98), :resize (java.awt.Color. 147 220 118)}, :highlight [], :width 150, :type :radio, :highlight-alpha-opacity 30, :can-hide? true, :window "main-window", :z 0, :highlight-border-size 1.5, :border-size 1, :x 10, :selected? nil, :height 42, :text "Radio empty (X)"}]
["cb-radio-full" true {:y 150, :align-text :left, :group ["001"], :color {:background (java.awt.Color. 250 250 250), :text (java.awt.Color. 10 10 10), :focus (java.awt.Color. 117 190 188), :select (java.awt.Color. 117 190 188), :border (java.awt.Color. 27 100 98), :resize (java.awt.Color. 147 220 118)}, :highlight [], :width 150, :type :radio, :highlight-alpha-opacity 30, :can-hide? true, :window "main-window", :z 0, :highlight-border-size 1.5, :border-size 1, :x 10, :selected? nil, :height 42, :text "Radio full (X)"}]
["cb-radio1" false {:y 250, :resizing? nil, :align-text :left, :group ["002"], :color {:background (java.awt.Color. 250 250 250), :text (java.awt.Color. 10 10 10), :focus (java.awt.Color. 117 190 188), :select (java.awt.Color. 117 190 188), :border (java.awt.Color. 27 100 98), :resize (java.awt.Color. 147 220 118)}, :highlight [], :width 150, :type :radio, :highlight-alpha-opacity 30, :can-hide? true, :window "main-window", :z 0, :highlight-border-size 1.5, :border-size 1, :x 10, :focused? nil, :selected? nil, :height 42, :text "Radio empty (Y)"}]
["cb-radio1-full" true {:y 300, :resizing? nil, :align-text :left, :group ["002"], :color {:background (java.awt.Color. 250 250 250), :text (java.awt.Color. 10 10 10), :focus (java.awt.Color. 117 190 188), :select (java.awt.Color. 117 190 188), :border (java.awt.Color. 27 100 98), :resize (java.awt.Color. 147 220 118)}, :highlight [], :width 150, :type :radio, :highlight-alpha-opacity 30, :can-hide? true, :window "main-window", :z 0, :highlight-border-size 1.5, :border-size 1, :x 10, :focused? true, :selected? true, :height 42, :text "Radio full (Y)"}]]
}