{:window [["main-window" 50 50 700 500 "Main Window" {:resizable? true :on-close #window exit}]
          ["sub-window" 700 100 700 500 "Sub Window" {:on-close #window hide :resizable? true}]]
 :strigui.label/Label [["welcome" "Welcome to Strigui
                                   and other stuff ..." {:x 190 :y 100 :z 20
                                                         :color {:text (java.awt.Color. 47 120 118)}
                                                         :font-size 20 :font-style [:italic]
                                                         :can-move? true :group "bla"
                                                         :window "main-window"}]]}